<form method="POST" action="/new">
  <h1>Form</h1>
  <label for="user">User: </label>
  <input type="text" id="user" name="user" />
  <label for="text">Text: </label>
  <input type="text" id="text" name="text" />
  <button type="submit">Submit</button>
</form>
